<h1>Login Employee</h1>
<div class="container">
<form action="/employee/login" id = "employeeLogin" method="POST">

<div class="form-group">
    <input type="text" placeholder="Username" name="username"  required  autofocus>
</div>
<div class="form-group">
    <input type="password" placeholder="Passowrd" name="password"  required >
</div>
<span class = "errorMessage"></span>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" href="/employee/signup">signup</a>
</div>

</form>
</div>